<h2>Welcome <%= @user_name %> </h2>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <a> <%= link.title %> </a>
      <a href= <%= link.url %>><%= link.url %></a>
      <% link.tags.each do |tag|%>
      <p> <%=tag.name %> </p>
      <% end %>
    </li>
  <% end %>
</ul>

<form action='/tag' method='post'>
  <input type= "text" name="tag_search">
  <input type='submit' name='submit' value="Search by tag">
</form>

<form action='/links/new' method='get'>
  <input type='submit' name='submit' value="Submit new link">
</form>
